Repository evernym/verity-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: buildenv-docker-build, verity-server-docker-build, autorespond-docker-build, verity-server-image-docker-build, upload_to_maven

Path conditions:
  buildenv-docker-build: any of: devops/dockerfiles/buildenv.dockerfile
  verity-server-docker-build: any of: server/devops/dev/verity-server.dockerfile
  autorespond-docker-build: any of: devops/dockerfiles/buildenv.dockerfile, devops/dockerfiles/auto-respond-client.dockerfile
  verity-server-image-docker-build: any of: server/*, server/devops/dev/verity-server.dockerfile, server/devops/dev/verity-server-image.dockerfile
  upload_to_maven: any of: sdk/java-sdk/*

fix forward message version in provision script
  tools/provision_sdk.py
Due: none

remove unused import
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/IssueCredential.java
Due: none

add pylint to buildenv
  devops/dockerfiles/buildenv.dockerfile
Due: buildenv-docker-build, autorespond-docker-build

add pylint-quotes to buildenv
  devops/dockerfiles/buildenv.dockerfile
  sdk/python-sdk/requirements.txt
Due: buildenv-docker-build, autorespond-docker-build

debug dependencies in buildenv
  devops/dockerfiles/buildenv.dockerfile
Due: buildenv-docker-build, autorespond-docker-build

partial refactoring of java-sdk, partial fix integration tests for java
  docs/Getting-Started-With-The-Verity-SDK/pom.xml
  sdk/java-sdk/example/pom.xml
  sdk/java-sdk/example/run.sh
  sdk/java-sdk/example/src/main/java/com/evernym/sdk/example/App.java
  sdk/java-sdk/pom.xml
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/Connecting.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/IssueCredential.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/PresentProof.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/Protocol.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/QuestionAnswer.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/WriteCredentialDefinition.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/WriteSchema.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/utils/Util.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/ConnectingTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/IssueCredentialTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/PresentProofTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/ProtocolTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/QuestionAnswerTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/WriteCredentialDefinitionTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/WriteSchemaTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/utils/UtilTest.java
  server/devops/dev/verity-server.dockerfile
  server/src/services/agency/protocol-extensions/connection/index.ts
  server/src/services/agency/protocol-extensions/connection/newConnection/index.ts
  server/src/services/agency/protocol-extensions/credential/UnfulfilledCredential/index.ts
  server/src/services/agency/protocol-extensions/credential/index.ts
  server/src/services/agency/protocol-extensions/proof/UnfulfiledProof/index.ts
  server/src/services/agency/protocol-extensions/proof/index.ts
  server/src/services/agency/protocol-extensions/provable-question/index.ts
Due: verity-server-docker-build, verity-server-image-docker-build, upload_to_maven

fix integration tests for java-sdk
  sdk/java-sdk/example/src/main/java/com/evernym/sdk/example/App.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/QuestionAnswer.java
Due: none

finish python-sdk example app
  .gitignore
  sdk/java-sdk/example/src/main/java/com/evernym/sdk/example/App.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/utils/Context.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/utils/ContextTest.java
  sdk/python-sdk/Makefile
  sdk/python-sdk/example.py
  sdk/python-sdk/example/requirements.txt
  sdk/python-sdk/requirements.txt
  sdk/python-sdk/src/handlers.py
  sdk/python-sdk/src/protocols/Connecting.py
  sdk/python-sdk/src/protocols/IssueCredential.py
  sdk/python-sdk/src/protocols/PresentProof.py
  sdk/python-sdk/src/protocols/Protocol.py
  sdk/python-sdk/src/protocols/QuestionAnswer.py
  sdk/python-sdk/src/protocols/UpdateEndpoint.py
  sdk/python-sdk/src/protocols/WriteCredentialDefinition.py
  sdk/python-sdk/src/protocols/WriteSchema.py
  sdk/python-sdk/src/utils/__init__.py
  sdk/python-sdk/test/protocols/test_Connecting.py
  sdk/python-sdk/test/protocols/test_IssueCredential.py
  sdk/python-sdk/test/protocols/test_PresentProof.py
  sdk/python-sdk/test/protocols/test_Protocol.py
  sdk/python-sdk/test/protocols/test_QuestionAnswer.py
  sdk/python-sdk/test/protocols/test_WriteCredentialDefinition.py
  sdk/python-sdk/test/protocols/test_WriteSchema.py
  sdk/python-sdk/test/test_handlers.py
  sdk/python-sdk/test/test_utils.py
  server/src/services/agency/protocol-extensions/configuration/index.ts
  tools/provision_sdk.py
Due: none

add Context builder to help with more complex setup scenarios simplify exceptions add provision protocol modify schema to match verity protocol
  sdk/java-sdk/java-sdk.iml
  sdk/java-sdk/pom.xml
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/exceptions/UndefinedContextException.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/exceptions/VerityException.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/exceptions/WalletCloseException.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/exceptions/WalletClosedException.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/exceptions/WalletException.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/exceptions/WalletOpenException.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/handlers/Handlers.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/Connection.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/CredDef.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/Credential.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/ProofRequest.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/Protocol.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/Question.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/Schema.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/transports/HTTPTransport.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/utils/Context.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/utils/ContextBuilder.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/utils/Did.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/utils/MessagePackaging.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/utils/VerityUtil.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/utils/WalletUtil.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/TestHelpers.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/TestWallet.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/ProvisionTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/SchemaTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/utils/ContextBuilderTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/utils/ContextTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/utils/VerityUtilTest.java
Due: upload_to_maven

fix schema protocol mismatch
  docs/VerityApplicationProtocolExtensions.md
  server/src/services/agency/protocol-extensions/schema/index.ts
Due: none

fix integration tests
  sdk/java-sdk/example/pom.xml
  sdk/java-sdk/example/run.sh
  sdk/java-sdk/pom.xml
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/Schema.java
  server/src/services/agency/protocol-extensions/schema/index.ts
  tools/provision_sdk.py
Due: upload_to_maven

cleanup after integration tests, fix linting error
  integration-tests/docker-compose.yml
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/utils/Context.java
Due: none

fix linting error in server
  server/src/services/agency/protocol-extensions/schema/index.ts
Due: none

fix unit tests
  sdk/java-sdk/java-sdk.iml
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/utils/Context.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/TestHelpers.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/utils/ContextTest.java
Due: upload_to_maven

trigger buildenv rebuild
  devops/dockerfiles/buildenv.dockerfile
Due: buildenv-docker-build, autorespond-docker-build

add java-sdk.iml to .gitignore
  .gitignore
Due: none

remove unused import
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/WriteSchema.java
Due: none

add java-sdk.iml back
  .gitignore
  sdk/java-sdk/java-sdk.iml
Due: upload_to_maven

fix unit tests and linting errors
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/WriteCredentialDefinitionTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/WriteSchemaTest.java
  sdk/python-sdk/src/handlers.py
  sdk/python-sdk/test/test_handlers.py
  sdk/python-sdk/test/test_utils.py
Due: none

fix python-sdk linting errors
  .gitlab-ci.yml
  sdk/python-sdk/.pylintrc
  sdk/python-sdk/Makefile
  sdk/python-sdk/src/handlers.py
  sdk/python-sdk/src/protocols/Connecting.py
  sdk/python-sdk/src/protocols/IssueCredential.py
  sdk/python-sdk/src/protocols/PresentProof.py
  sdk/python-sdk/src/protocols/Protocol.py
  sdk/python-sdk/src/protocols/QuestionAnswer.py
  sdk/python-sdk/src/protocols/UpdateEndpoint.py
  sdk/python-sdk/src/protocols/WriteCredentialDefinition.py
  sdk/python-sdk/src/protocols/WriteSchema.py
  sdk/python-sdk/src/utils/Context.py
  sdk/python-sdk/src/utils/__init__.py
  sdk/python-sdk/test/protocols/__init__.py
  sdk/python-sdk/test/protocols/test_Connecting.py
  sdk/python-sdk/test/protocols/test_IssueCredential.py
  sdk/python-sdk/test/protocols/test_PresentProof.py
  sdk/python-sdk/test/protocols/test_Protocol.py
  sdk/python-sdk/test/protocols/test_QuestionAnswer.py
  sdk/python-sdk/test/protocols/test_WriteCredentialDefinition.py
  sdk/python-sdk/test/protocols/test_WriteSchema.py
Due: none

add dependencies to python3.6 in buildenv
  devops/dockerfiles/buildenv.dockerfile
Due: buildenv-docker-build, autorespond-docker-build

finish debugging python-sdk example app
  integration-tests/docker-compose.yml
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/utils/Context.java
  sdk/python-sdk/example.py
  sdk/python-sdk/src/handlers.py
  sdk/python-sdk/src/protocols/UpdateEndpoint.py
  sdk/python-sdk/src/protocols/WriteCredentialDefinition.py
  sdk/python-sdk/src/protocols/WriteSchema.py
  sdk/python-sdk/test/protocols/test_WriteCredentialDefinition.py
  sdk/python-sdk/test/protocols/test_WriteSchema.py
  sdk/python-sdk/test/test_handlers.py
Due: none

setup and test python-sdk integration tests
  devops/dockerfiles/buildenv.dockerfile
  integration-tests/docker-compose.yml
  integration-tests/test.sh
  sdk/python-sdk/example.py
Due: buildenv-docker-build, autorespond-docker-build

setup and test python-sdk integration tests
  sdk/python-sdk/integration_tests.sh
Due: none

clean up GS guide, prepare to publish to PyPi
  .gitlab-ci.yml
  devops/dockerfiles/buildenv.dockerfile
  devops/scripts/update_getting_started_repo.sh
  docs/Getting-Started-With-The-Verity-SDK/README.md
  docs/Getting-Started-With-The-Verity-SDK/java/README.md
  docs/Getting-Started-With-The-Verity-SDK/java/pom.xml
  docs/Getting-Started-With-The-Verity-SDK/python/README.md
  docs/Getting-Started-With-The-Verity-SDK/python/requirements.txt
  sdk/python-sdk/.gitignore
  sdk/python-sdk/.pylintrc
  sdk/python-sdk/Makefile
  sdk/python-sdk/README.md
  sdk/python-sdk/example.py
  sdk/python-sdk/requirements.txt
  sdk/python-sdk/setup.py
  sdk/python-sdk/test/protocols/test_Connecting.py
  sdk/python-sdk/test/protocols/test_IssueCredential.py
  sdk/python-sdk/test/protocols/test_PresentProof.py
  sdk/python-sdk/test/protocols/test_Protocol.py
  sdk/python-sdk/test/protocols/test_QuestionAnswer.py
  sdk/python-sdk/test/protocols/test_WriteCredentialDefinition.py
  sdk/python-sdk/test/protocols/test_WriteSchema.py
  sdk/python-sdk/test/test_handlers.py
  sdk/python-sdk/test/test_transports.py
  sdk/python-sdk/test/test_utils.py
  sdk/python-sdk/verity_sdk/__init__.py
  sdk/python-sdk/verity_sdk/handlers.py
  sdk/python-sdk/verity_sdk/protocols/Connecting.py
  sdk/python-sdk/verity_sdk/protocols/IssueCredential.py
  sdk/python-sdk/verity_sdk/protocols/PresentProof.py
  sdk/python-sdk/verity_sdk/protocols/Protocol.py
  sdk/python-sdk/verity_sdk/protocols/QuestionAnswer.py
  sdk/python-sdk/verity_sdk/protocols/UpdateEndpoint.py
  sdk/python-sdk/verity_sdk/protocols/WriteCredentialDefinition.py
  sdk/python-sdk/verity_sdk/protocols/WriteSchema.py
  sdk/python-sdk/verity_sdk/protocols/__init__.py
  sdk/python-sdk/verity_sdk/transports.py
  sdk/python-sdk/verity_sdk/utils/Context.py
  sdk/python-sdk/verity_sdk/utils/__init__.py
Due: buildenv-docker-build, autorespond-docker-build

build verity-server-image always
  .gitlab-ci.yml
Due: none

trigger verity-server-image rebuild
  server/README.md
Due: verity-server-image-docker-build

fix GS guide, prepare to upload
  .gitlab-ci.yml
  devops/dockerfiles/buildenv.dockerfile
  devops/scripts/update_getting_started_repo.sh
  sdk/python-sdk/setup.py
Due: buildenv-docker-build, autorespond-docker-build

update documentation, add UpdateEndpoint protocol, fix integration tests
  docs/Getting-Started-With-The-Verity-SDK/java/pom.xml
  docs/Getting-Started-With-The-Verity-SDK/python/requirements.txt
  integration-tests/test.sh
  sdk/java-sdk/example/pom.xml
  sdk/java-sdk/example/run.sh
  sdk/java-sdk/example/src/main/java/com/evernym/sdk/example/App.java
  sdk/java-sdk/pom.xml
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/handlers/Handlers.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/Connecting.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/IssueCredential.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/PresentProof.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/QuestionAnswer.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/UpdateEndpoint.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/WriteCredentialDefinition.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/WriteSchema.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/utils/Context.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/UpdateEndpointTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/WriteSchemaTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/utils/ContextTest.java
  sdk/python-sdk/integration_tests.sh
  sdk/python-sdk/test/protocols/test_Connecting.py
  sdk/python-sdk/test/protocols/test_IssueCredential.py
  sdk/python-sdk/test/protocols/test_PresentProof.py
  sdk/python-sdk/test/protocols/test_QuestionAnswer.py
  sdk/python-sdk/test/protocols/test_UpdateEndpoint.py
  sdk/python-sdk/test/protocols/test_WriteCredentialDefinition.py
  sdk/python-sdk/test/protocols/test_WriteSchema.py
  sdk/python-sdk/verity_sdk/protocols/UpdateEndpoint.py
  tools/vcx-client-auto-respond.py
Due: upload_to_maven

remove unused imports
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/Connecting.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/IssueCredential.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/QuestionAnswer.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/utils/Context.java
Due: none

fix linting errors
  sdk/python-sdk/Makefile
  sdk/python-sdk/test/protocols/test_UpdateEndpoint.py
Due: none

move CICD unit and linting tests to script for local testing
  .gitlab-ci.yml
  devops/scripts/unit_tests_and_syntax.sh
Due: none

upload to PyPi on master only
  .gitlab-ci.yml
Due: none

python-sdk version bump
  sdk/python-sdk/setup.py
Due: none

minor documentation changes to the GS guide
  docs/Getting-Started-With-The-Verity-SDK/java/README.md
  docs/Getting-Started-With-The-Verity-SDK/python/README.md
  docs/Getting-Started-With-The-Verity-SDK/python/requirements.txt
Due: none

fix credential name in server
  server/src/services/agency/protocol-extensions/credential/UnfulfilledCredential/index.ts
  server/src/services/agency/protocol-extensions/credential/index.ts
Due: none

trigger verity-server-image rebuild
  server/devops/dev/verity-server-image.dockerfile
  server/devops/dev/verity-server.dockerfile
Due: verity-server-docker-build, verity-server-image-docker-build

tweaks to align with verity server
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/Connecting.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/utils/Util.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/ConnectingTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/utils/UtilTest.java
Due: none

duplicate Devin's changes in mock-verity and python-sdk
  .gitlab-ci.yml
  docs/Getting-Started-With-The-Verity-SDK/java/pom.xml
  docs/VerityApplicationProtocolExtensions.md
  sdk/browser-sdk/src/protocols/enroll/index.ts
  sdk/java-sdk/example/pom.xml
  sdk/java-sdk/example/run.sh
  sdk/java-sdk/pom.xml
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/utils/Util.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/handlers/HandlersTest.java
  sdk/python-sdk/test/protocols/test_Connecting.py
  sdk/python-sdk/test/test_utils.py
  sdk/python-sdk/verity_sdk/protocols/Connecting.py
  sdk/python-sdk/verity_sdk/utils/__init__.py
  server/src/services/agency/index.ts
  server/src/services/agency/protocol-extensions/configuration/index.ts
  server/src/services/agency/protocol-extensions/connection/index.ts
  server/src/services/agency/protocol-extensions/connection/newConnection/index.ts
  server/src/services/agency/protocol-extensions/credential-def/index.ts
  server/src/services/agency/protocol-extensions/credential/UnfulfilledCredential/index.ts
  server/src/services/agency/protocol-extensions/credential/index.ts
  server/src/services/agency/protocol-extensions/enroll/index.test.ts
  server/src/services/agency/protocol-extensions/enroll/index.ts
  server/src/services/agency/protocol-extensions/index.ts
  server/src/services/agency/protocol-extensions/proof/UnfulfiledProof/index.ts
  server/src/services/agency/protocol-extensions/proof/index.ts
  server/src/services/agency/protocol-extensions/provable-question/index.ts
  server/src/services/agency/protocol-extensions/schema/index.ts
  tools/provision_sdk.py
Due: upload_to_maven

fix documentation for connection protocol
  docs/VerityApplicationProtocolExtensions.md
Due: none
