Repository evernym/verity-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: buildenv-docker-build, verity-server-docker-build, autorespond-docker-build, verity-server-image-docker-build, upload_to_maven

buildenv-docker-build:
  tags:
  - docker
  stage: docker-images
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  - 'echo "-----BEGIN CERTIFICATE-----
  ...

verity-server-docker-build:
  tags:
  - docker
  stage: docker-images
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  - 'echo "-----BEGIN CERTIFICATE-----
  ...

autorespond-docker-build:
  tags:
  - docker
  stage: dependent-docker-images
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

verity-server-image-docker-build:
  tags:
  - docker
  stage: dependent-docker-images
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

upload_to_maven:
  tags:
  - docker
  stage: deploy
  image: $CI_REGISTRY_IMAGE/buildenv:latest
  script:
  - ./devops/scripts/maven/upload.sh
  dependencies:
  - make_jar
  when: on_success

change test url
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/transports/HTTPTransportTest.java
Due: none

add integration tests to pipeline with local hack for now
  .gitlab-ci.yml
Due: none

mark integration-tests as manual only until docker issues are resolved
  .gitlab-ci.yml
Due: none

update python-sdk version and deploy to pypi
  .gitlab-ci.yml
  sdk/python-sdk/setup.py
Due: none

fix python-sdk version for GS guide
  docs/Getting-Started-With-The-Verity-SDK/python/requirements.txt
Due: none

always deploy to pypi on master
  .gitlab-ci.yml
  sdk/python-sdk/Makefile
Due: none

add truncate_invite_detail function, rename use_public_did in python-sdk
  sdk/python-sdk/example.py
  sdk/python-sdk/test/protocols/test_Connecting.py
  sdk/python-sdk/verity_sdk/protocols/Connecting.py
  sdk/python-sdk/verity_sdk/utils/__init__.py
Due: none

fixes to get connections working with Verity Server
  sdk/python-sdk/example.py
  sdk/python-sdk/verity_sdk/utils/__init__.py
Due: none

add provision protocol
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/Provision.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/WriteSchema.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/WriteSchemaTest.java
Due: none

push to getting-started-guide on this branch only
  .gitlab-ci.yml
Due: none

trigger docker build
  .gitlab-ci.yml
  server/devops/dev/verity-server.dockerfile
Due: verity-server-docker-build, verity-server-image-docker-build

trigger docker build
  server/devops/dev/verity-server.dockerfile
Due: verity-server-docker-build, verity-server-image-docker-build

bump version java sdk
  sdk/java-sdk/pom.xml
Due: upload_to_maven

add manual docker build steps, each branch uses own docker images
  .gitlab-ci.yml
Due: none

only deploy to pypi if something has changed in the python-sdk
  .gitlab-ci.yml
Due: none

add truncateInviteDetails to java-sdk
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/utils/Util.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/utils/UtilTest.java
Due: none

bug fixes, refactoring to sdks
  sdk/java-sdk/example/src/main/java/com/evernym/sdk/example/App.java
  sdk/java-sdk/pom.xml
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/utils/Util.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/utils/UtilTest.java
  sdk/python-sdk/example.py
  sdk/python-sdk/verity_sdk/handlers.py
  sdk/python-sdk/verity_sdk/utils/__init__.py
Due: upload_to_maven

bump python-sdk version
  sdk/python-sdk/setup.py
Due: none

bump java-sdk version
  sdk/java-sdk/pom.xml
Due: upload_to_maven

change truncate_invite_details from async to sync
  sdk/python-sdk/example.py
  sdk/python-sdk/verity_sdk/utils/__init__.py
Due: none

fix changes flag in .gitlab-ci.yml to use **/*
  .gitlab-ci.yml
  sdk/python-sdk/setup.py
Due: none

add IssuerIdentity protocol
  sdk/java-sdk/pom.xml
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/IssuerIdentity.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/IssuerIdentityTest.java
Due: upload_to_maven

Issue credential protocol modifications
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/IssueCredential.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/IssueCredentialTest.java
  sdk/python-sdk/test/protocols/test_IssueCredential.py
  sdk/python-sdk/verity_sdk/protocols/IssueCredential.py
Due: none

fix vcx protocol versions to 0.6
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/IssueCredential.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/PresentProof.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/QuestionAnswer.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/WriteCredentialDefinition.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/WriteSchema.java
Due: none

fix tests
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/IssueCredentialTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/PresentProofTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/QuestionAnswerTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/WriteCredentialDefinitionTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/WriteSchemaTest.java
Due: none

Update issue credential protocol
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/IssueCredential.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/IssueCredentialTest.java
  sdk/python-sdk/test/protocols/test_IssueCredential.py
  sdk/python-sdk/verity_sdk/protocols/IssueCredential.py
Due: none

Improve test a bit
  sdk/python-sdk/test/protocols/test_IssueCredential.py
Due: none

rename IssuerIdentity protocol to IssuerSetup
  sdk/java-sdk/pom.xml
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/IssuerSetup.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/IssuerSetupTest.java
Due: upload_to_maven

add ~for_relationship and ~thread decorator to QuestionAnswer
  sdk/java-sdk/pom.xml
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/Protocol.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/QuestionAnswer.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/QuestionAnswerTest.java
Due: upload_to_maven

fix protocol name
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/QuestionAnswer.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/QuestionAnswerTest.java
Due: none

changed QuestionAnswer Control message to be less protcol-y
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/QuestionAnswer.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/QuestionAnswerTest.java
Due: none

repin version
  sdk/java-sdk/pom.xml
Due: upload_to_maven

fix lint checks
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/QuestionAnswer.java
Due: none

Added ~for_relationship field into IssueCredential message
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/IssueCredential.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/IssueCredentialTest.java
  sdk/python-sdk/test/protocols/test_IssueCredential.py
  sdk/python-sdk/verity_sdk/protocols/IssueCredential.py
Due: none

Changed HTTPTransport test url from http://dummy.restapiexample.com/api/v1/create to https://jsonplaceholder.typicode.com/posts
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/transports/HTTPTransportTest.java
Due: none

Typo
  sdk/python-sdk/verity_sdk/protocols/IssueCredential.py
Due: none

add signature required for Question Answer
  sdk/java-sdk/pom.xml
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/QuestionAnswer.java
Due: upload_to_maven

Add thread parameter into IssueCredential and support for it in python-sdk
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/IssueCredential.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/IssueCredentialTest.java
  sdk/python-sdk/test/protocols/test_IssueCredential.py
  sdk/python-sdk/test/protocols/test_Protocol.py
  sdk/python-sdk/verity_sdk/protocols/IssueCredential.py
  sdk/python-sdk/verity_sdk/protocols/Protocol.py
Due: none

Typo
  sdk/python-sdk/test/protocols/test_Protocol.py
Due: none

Path conditions:
  buildenv-docker-build: any of: devops/dockerfiles/buildenv.dockerfile
  verity-server-docker-build: any of: server/devops/dev/verity-server.dockerfile
  autorespond-docker-build: any of: devops/dockerfiles/buildenv.dockerfile, devops/dockerfiles/auto-respond-client.dockerfile
  verity-server-image-docker-build: any of: server/*, server/devops/dev/verity-server.dockerfile, server/devops/dev/verity-server-image.dockerfile
  upload_to_maven: any of: sdk/java-sdk/*
