Repository evernym/verity-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: buildenv-docker-build, verity-server-docker-build, autorespond-docker-build, verity-server-image-docker-build, upload_to_maven

buildenv-docker-build:
  tags:
  - docker
  stage: docker-images
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  - 'echo "-----BEGIN CERTIFICATE-----
  ...

verity-server-docker-build:
  tags:
  - docker
  stage: docker-images
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  - 'echo "-----BEGIN CERTIFICATE-----
  ...

autorespond-docker-build:
  tags:
  - docker
  stage: dependent-docker-images
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

verity-server-image-docker-build:
  tags:
  - docker
  stage: dependent-docker-images
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

upload_to_maven:
  tags:
  - docker
  stage: deploy
  image: $CI_REGISTRY_IMAGE/buildenv:latest
  script:
  - ./devops/scripts/maven/upload.sh
  dependencies:
  - make_jar
  when: on_success

debugging deploy to docker hub
  .gitlab-ci.yml
Due: none

debugging deploy to docker hub
  .gitlab-ci.yml
  server/devops/dev/verity-server-image.dockerfile
Due: verity-server-image-docker-build

only deploy to dockerhub on master of verity/sdk
  .gitlab-ci.yml
Due: none

bug fix
  server/devops/dev/verity-server-image.dockerfile
Due: verity-server-image-docker-build

Push mock-verity to Docker Hub in CICD pipeline
  .gitlab-ci.yml
  docs/example-flow.puml
Due: none

update getting started guide to use public docker image
  docs/Getting-Started-With-The-Verity-SDK/README.md
  docs/Getting-Started-With-The-Verity-SDK/pom.xml
Due: none

add example-app-flow.png to GS guide
  .gitlab-ci.yml
  devops/dockerfiles/buildenv.dockerfile
  devops/scripts/update_getting_started_repo.sh
  docs/example-flow.puml
Due: buildenv-docker-build, autorespond-docker-build

only update GS guide on master of dev/verity/verity-sdk
  .gitlab-ci.yml
Due: none

Merge branch 'integration-tests' into 'master'
  .gitlab-ci.yml
  devops/dockerfiles/auto-respond-client.dockerfile
  devops/dockerfiles/buildenv.dockerfile
  integration-tests/README.md
  integration-tests/docker-compose.yml
  sdk/java-sdk/devops/integration_tests.sh
  server/README.md
  tools/requirements.txt
Due: buildenv-docker-build, autorespond-docker-build, verity-server-image-docker-build

bump java SDK version to 0.15, leaving GS guide on 0.14
  sdk/java-sdk/example/pom.xml
  sdk/java-sdk/example/run.sh
  sdk/java-sdk/pom.xml
Due: upload_to_maven

add a low level message package function
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/utils/MessagePackaging.java
Due: none

remove acceptInvite from connection protocol
  docs/VerityApplicationProtocolExtensions.md
Due: none

removed accept invite
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/Connection.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/ConnectionTest.java
Due: none

use fail() instead of assert(false)
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/CredDefTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/CredentialTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/ProofRequestTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/QuestionTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/SchemaTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/utils/ContextTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/utils/MessagePackagingTest.java
Due: none

add more details from failed send message
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/transports/HTTPTransport.java
Due: none

add java-sdk and example build steps to integration tests
  integration-tests/README.md
  integration-tests/docker-compose.yml
Due: none

Merge branch 'java-sdk' into 'java-sdk'
  .gitignore
  .gitlab-ci.yml
  devops/dockerfiles/auto-respond-client.dockerfile
  devops/dockerfiles/buildenv.dockerfile
  devops/scripts/update_getting_started_repo.sh
  docs/Getting-Started-With-The-Verity-SDK/README.md
  docs/Getting-Started-With-The-Verity-SDK/pom.xml
  docs/VerityApplicationProtocolExtensions.md
  docs/example-flow.puml
  integration-tests/README.md
  integration-tests/docker-compose.yml
  sdk/java-sdk/devops/integration_tests.sh
  sdk/java-sdk/example/pom.xml
  sdk/java-sdk/example/run.sh
  sdk/java-sdk/pom.xml
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/Connection.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/Protocol.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/transports/HTTPTransport.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/utils/MessagePackaging.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/ConnectionTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/CredDefTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/CredentialTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/ProofRequestTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/QuestionTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/SchemaTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/utils/ContextTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/utils/MessagePackagingTest.java
  server/README.md
  tools/requirements.txt
Due: buildenv-docker-build, autorespond-docker-build, verity-server-image-docker-build, upload_to_maven

remove config print in CICD
  .gitlab-ci.yml
Due: none

bug fix in CICD uploading to docker hub
  .gitlab-ci.yml
Due: none

switch back to deploying only on master
  .gitlab-ci.yml
Due: none

VE-1045: Add public DID option to connection protocol in mock verity
  integration-tests/docker-compose.yml
  sdk/java-sdk/example/pom.xml
  sdk/java-sdk/example/run.sh
  sdk/java-sdk/example/src/main/java/com/evernym/sdk/example/App.java
  sdk/java-sdk/pom.xml
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/Connection.java
  server/src/services/agency/protocol-extensions/connection/newConnection/index.ts
Due: upload_to_maven

bump java-sdk version in example
  docs/Getting-Started-With-The-Verity-SDK/pom.xml
Due: none

improve clarity of example app
  integration-tests/README.md
  sdk/java-sdk/example/src/main/java/com/evernym/sdk/example/App.java
Due: none

add support for revocationInterval in proof protocol
  docs/Getting-Started-With-The-Verity-SDK/pom.xml
  docs/VerityApplicationProtocolExtensions.md
  integration-tests/README.md
  integration-tests/docker-compose.yml
  sdk/java-sdk/example/pom.xml
  sdk/java-sdk/example/run.sh
  sdk/java-sdk/example/src/main/java/com/evernym/sdk/example/App.java
  sdk/java-sdk/pom.xml
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/ProofRequest.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/utils/MessagePackaging.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/ConnectionTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/CredDefTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/CredentialTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/ProofRequestTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/QuestionTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/SchemaTest.java
  server/src/services/agency/protocol-extensions/proof/UnfulfiledProof/index.ts
Due: upload_to_maven

fix table of contents
  docs/VerityApplicationProtocolExtensions.md
Due: none

switch to did message format
  docs/VerityApplicationProtocolExtensions.md
  sdk/browser-sdk/src/protocols/enroll/index.ts
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/Connection.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/CredDef.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/Credential.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/ProofRequest.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/Question.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/Schema.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/utils/Context.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/handlers/HandlersTest.java
  server/src/services/agency/index.ts
  server/src/services/agency/protocol-extensions/connection/index.ts
  server/src/services/agency/protocol-extensions/connection/newConnection/index.ts
  server/src/services/agency/protocol-extensions/credential-def/index.ts
  server/src/services/agency/protocol-extensions/credential/UnfulfilledCredential/index.ts
  server/src/services/agency/protocol-extensions/credential/index.ts
  server/src/services/agency/protocol-extensions/enroll/index.test.ts
  server/src/services/agency/protocol-extensions/enroll/index.ts
  server/src/services/agency/protocol-extensions/index.ts
  server/src/services/agency/protocol-extensions/proof/UnfulfiledProof/index.ts
  server/src/services/agency/protocol-extensions/proof/index.ts
  server/src/services/agency/protocol-extensions/provable-question/index.ts
  server/src/services/agency/protocol-extensions/schema/index.ts
  tools/provision_sdk.py
Due: none

add additional credDef params
  docs/VerityApplicationProtocolExtensions.md
  integration-tests/README.md
  integration-tests/test.sh
  sdk/java-sdk/example/pom.xml
  sdk/java-sdk/example/run.sh
  sdk/java-sdk/example/src/main/java/com/evernym/sdk/example/App.java
  sdk/java-sdk/pom.xml
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/CredDef.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/CredDefTest.java
  server/src/services/agency/protocol-extensions/credential-def/index.ts
Due: upload_to_maven

fix syntax error
  server/src/services/agency/protocol-extensions/credential-def/index.ts
Due: none

Add copyright headers to GS Guide source code
  docs/Getting-Started-With-The-Verity-SDK/README.md
  sdk/java-sdk/example/src/main/java/com/evernym/sdk/example/App.java
  sdk/java-sdk/example/src/main/java/com/evernym/sdk/example/Listener.java
  tools/new_did.py
  tools/provision_sdk.py
Due: none

update python license format, add license to Listener.java
  sdk/java-sdk/example/src/main/java/com/evernym/sdk/example/Listener.java
  tools/new_did.py
  tools/provision_sdk.py
Due: none

fix sdk version in GS guide
  docs/Getting-Started-With-The-Verity-SDK/pom.xml
Due: none

add param to credential protocol
  docs/VerityApplicationProtocolExtensions.md
  integration-tests/test.sh
Due: none

add basic structure, helpers
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/handlers/Handlers.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/utils/MessagePackaging.java
  sdk/python-sdk/.pylintrc
  sdk/python-sdk/Makefile
  sdk/python-sdk/src/handlers.py
  sdk/python-sdk/src/protocols/Protocol.py
  sdk/python-sdk/src/transports.py
  sdk/python-sdk/src/utils.py
  sdk/python-sdk/test/test_transports.py
Due: none

add basic structure, helpers
  sdk/python-sdk/src/protocols/Connection.py
  sdk/python-sdk/src/protocols/CredDef.py
  sdk/python-sdk/src/protocols/Credential.py
  sdk/python-sdk/src/protocols/ProofRequest.py
  sdk/python-sdk/src/protocols/Question.py
  sdk/python-sdk/src/protocols/Schema.py
  sdk/python-sdk/src/utils/Context.py
  sdk/python-sdk/src/utils/__init__.py
  sdk/python-sdk/test/protocols/test_Protocol.py
Due: none

move FWD to 1.0
  sdk/java-sdk/java-sdk.iml
  sdk/java-sdk/pom.xml
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/utils/MessagePackaging.java
Due: upload_to_maven

Move to FWD 1.0 in provision_sdk script
  tools/provision_sdk.py
Due: none

update, finish python-sdk. Major refactoring to java-sdk to match python-sdk
  sdk/java-sdk/java-sdk.iml
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/Connecting.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/IssueCredential.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/PresentProof.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/QuestionAnswer.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/WriteCredentialDefinition.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/WriteSchema.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/ConnectingTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/ProtocolTest.java
  sdk/python-sdk/src/protocols/WriteCredentialDefinition.py
  sdk/python-sdk/src/protocols/WriteSchema.py
  sdk/python-sdk/test/protocols/test_Connecting.py
  sdk/python-sdk/test/protocols/test_IssueCredential.py
  sdk/python-sdk/test/protocols/test_PresentProof.py
  sdk/python-sdk/test/protocols/test_QuestionAnswer.py
  sdk/python-sdk/test/protocols/test_WriteCredentialDefinition.py
  sdk/python-sdk/test/protocols/test_WriteSchema.py
Due: upload_to_maven

fix typo
  .gitlab-ci.yml
Due: none

Path conditions:
  buildenv-docker-build: any of: devops/dockerfiles/buildenv.dockerfile
  verity-server-docker-build: any of: server/devops/dev/verity-server.dockerfile
  autorespond-docker-build: any of: devops/dockerfiles/buildenv.dockerfile, devops/dockerfiles/auto-respond-client.dockerfile
  verity-server-image-docker-build: any of: server/*, server/devops/dev/verity-server.dockerfile, server/devops/dev/verity-server-image.dockerfile
  upload_to_maven: any of: sdk/java-sdk/*
