Repository evernym/verity-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: buildenv-docker-build, java-publish, python-publish, nodejs-publish

buildenv-docker-build:
  tags:
  - docker-machine
  - micro
  stage: docker-images
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - install -Dv /dev/null /kaniko/.docker/config.json
  ...

java-publish:
  before_script:
  - sed -i 's/-SNAPSHOT<\/version>/<\/version>/g' sdk/java-sdk/pom.xml
  tags:
  - docker-machine
  - micro
  stage: publish
  image: $CI_REGISTRY_IMAGE/buildenv:$CI_COMMIT_REF_NAME
  script:
  - cd sdk/java-sdk/
  - mvn --errors deploy --settings ./settings.xml -DskipTests
  dependencies:
  ...

python-publish:
  tags:
  - docker-machine
  - micro
  stage: publish
  image: $CI_REGISTRY_IMAGE/buildenv:$CI_COMMIT_REF_NAME
  script:
  - cd sdk/python-sdk/
  - make upload
  dependencies:
  - python-package

nodejs-publish:
  tags:
  - docker-machine
  - micro
  stage: publish
  image: $CI_REGISTRY_IMAGE/buildenv:$CI_COMMIT_REF_NAME
  script:
  - cd sdk/nodejs-sdk/
  - npm run package
  - npm run publish

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update sdk/nodejs-sdk/.npmrc
  sdk/nodejs-sdk/.npmrc
Due: nodejs-publish

Update Makefile
  sdk/python-sdk/Makefile
Due: python-publish

removed artifacts Artifacts were effecting the release and don't currently provide much value.
  .gitlab-ci.yml
Due: none

move example apps to same directory use public version of verity-sdk fix issues cause by the above changes
  .gitignore
  README.md
  docs/getting-started/getting-started.md
  samples/rest-api/web-app/README.md
  samples/sdk/Dockerfile
  samples/sdk/entrypoint.sh
  samples/sdk/java-example-app/README.md
  samples/sdk/java-example-app/pom.xml
  samples/sdk/java-example-app/src/main/java/com/evernym/sdk/example/App.java
  samples/sdk/java-example-app/src/main/java/com/evernym/sdk/example/Helper.java
  samples/sdk/java-example-app/src/main/java/com/evernym/sdk/example/Listener.java
  samples/sdk/nodejs-example-app/.gitignore
  samples/sdk/nodejs-example-app/README.md
  samples/sdk/nodejs-example-app/example.js
  samples/sdk/nodejs-example-app/package-lock.json
  samples/sdk/nodejs-example-app/package.json
  samples/sdk/python-example-app/.gitignore
  samples/sdk/python-example-app/README.md
  samples/sdk/python-example-app/__init__.py
  samples/sdk/python-example-app/app.py
  samples/sdk/python-example-app/helper.py
  samples/sdk/python-example-app/requirements.txt
  sdk/java-sdk/README.md
  sdk/nodejs-sdk/README.md
  sdk/nodejs-sdk/simple-test.js
  sdk/nodejs-sdk/test-cli.js
  sdk/python-sdk/README.md
  sdk/python-sdk/example/__init__.py
  sdk/python-sdk/integration_tests.sh
  sdk/python-sdk/requirements.txt
Due: java-publish, python-publish, nodejs-publish

missed ignore file
  samples/sdk/java-example-app/.gitignore
Due: none

some ci clean up
  .gitlab-ci.yml
Due: none

Change Verity Demo App to Verity Sample Web App in README-docker.md
  samples/rest-api/web-app/README-docker.md
Due: none

Change Verity Demo App to Verity Sample Web App in README.md
  samples/rest-api/web-app/README.md
Due: none

Change the Verity Server to Verity Application instance in README.md
  README.md
Due: none

add api doc link
  .gitlab-ci.yml
  sdk/java-sdk/README.md
  sdk/nodejs-sdk/.npmrc
  sdk/nodejs-sdk/README.md
  sdk/python-sdk/README.md
Due: java-publish, python-publish, nodejs-publish

switch to use maven search instead of mvnrepository
  sdk/java-sdk/README.md
Due: java-publish

clean language for root README
  README.md
Due: none

java code examples for the getting-started-guide
  docs/getting-started/getting-started.md
  docs/howto/java-verity-flow.md
  samples/sdk/java-example-app/src/main/java/com/evernym/sdk/example/App.java
Due: none

Add new directory
  docs/tutorials/.gitkeep
Due: none

Add how to build Verifier using Java SDK
  docs/tutorials/How to build Verifier using Java SDK
Due: none

Update How to build Verifier using Java SDK
  docs/tutorials/How to build Verifier using Java SDK.md
Due: none

Delete .gitkeep
  docs/tutorials/.gitkeep
Due: none

adds python and nodejs code examples
  docs/getting-started/getting-started.md
  docs/howto/nodejs-verity-flow.md
  docs/howto/python-verity-flow.md
  samples/sdk/java-example-app/src/main/java/com/evernym/sdk/example/App.java
Due: none

Added CI/CD job to publish Verity Application Docker image on each release tag
  .gitlab-ci.yml
Due: none

Makes code links in getting-started-guide more readable
  docs/getting-started/getting-started.md
  docs/howto/java-verity-flow.md
  docs/howto/nodejs-verity-flow.md
  docs/howto/python-verity-flow.md
Due: none

adds better descirptions to the code examples in nodejs, python, and java examples
  docs/howto/java-verity-flow.md
  docs/howto/nodejs-verity-flow.md
  docs/howto/python-verity-flow.md
Due: none

refactors java, python, and node examples in the docs
  docs/getting-started/getting-started.md
  docs/howto/java-verity-flow.md
  docs/howto/nodejs-verity-flow.md
  docs/howto/python-verity-flow.md
Due: none

Improvements to Verity docker
  verity/README.md
  verity/configuration/akka.conf
  verity/configuration/application.conf
  verity/configuration/prod.txn
  verity/configuration/stage.txn
  verity/scripts/entrypoint.sh
  verity/verity.dockerfile
Due: none

Fixed double http:// prefix in connection invite
  verity/configuration/application.conf
  verity/scripts/entrypoint.sh
Due: none

Upgrade from xenial to bionic
  verity/verity.dockerfile
Due: none

relative path to code examples
  docs/getting-started/getting-started.md
Due: none

link to code examples base file
  docs/getting-started/getting-started.md
Due: none

testing out getting started provisioning relative link
  docs/getting-started/getting-started.md
Due: none

links code examples to getting started guide and relative path to code examples
  docs/getting-started/getting-started.md
  docs/howto/java-verity-flow.md
  docs/howto/nodejs-verity-flow.md
  docs/howto/python-verity-flow.md
Due: none

fixes link to getting started guide
  docs/howto/java-verity-flow.md
  docs/howto/nodejs-verity-flow.md
  docs/howto/python-verity-flow.md
Due: none

merged tutorials and howto directories
  docs/howto/How to build Verifier using Java SDK.md
Due: none

Fix when VAS endpoint is specified with trailing slash
  sdk/python-sdk/verity_sdk/utils/Context.py
Due: python-publish

Fix typo
  docs/getting-started/getting-started.md
Due: none

Handling of the failed provisioning in SDKs and the example app
  samples/sdk/java-example-app/src/main/java/com/evernym/sdk/example/App.java
  samples/sdk/nodejs-example-app/example.js
  samples/sdk/python-example-app/app.py
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/provision/ProvisionImplV0_7.java
  sdk/nodejs-sdk/src/protocols/v0_7/Provision.js
  sdk/python-sdk/test/protocols/v0_7/test_Provision.py
  sdk/python-sdk/verity_sdk/protocols/v0_7/Provision.py
Due: java-publish, python-publish, nodejs-publish

Added parameter shortInvite to Relationship protocol invite messages
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/relationship/Relationship.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/relationship/RelationshipImplV1_0.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/relationship/v1_0/RelationshipTest.java
  sdk/nodejs-sdk/src/protocols/v1_0/Relationship.js
  sdk/nodejs-sdk/test/test_Relationship1_0.js
  sdk/python-sdk/test/protocols/v1_0/test_Relationship.py
  sdk/python-sdk/verity_sdk/protocols/v1_0/Relationship.py
Due: java-publish, python-publish, nodejs-publish

Moved shortInvite parameter from constructor to apropriate msg methods
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/relationship/Relationship.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/relationship/RelationshipImplV1_0.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/relationship/v1_0/RelationshipV1_0.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/relationship/v1_0/RelationshipTest.java
  sdk/nodejs-sdk/src/protocols/v1_0/Relationship.js
  sdk/nodejs-sdk/test/test_Relationship1_0.js
  sdk/python-sdk/test/protocols/v1_0/test_Relationship.py
  sdk/python-sdk/verity_sdk/protocols/v1_0/Relationship.py
Due: java-publish, python-publish, nodejs-publish

allow entrypoint to be re-run to refresh ngrok
  docs/getting-started/getting-started.md
  samples/sdk/entrypoint.sh
Due: none

add goal code to verity-sdk
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/relationship/RelationshipImplV1_0.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/relationship/v1_0/RelationshipV1_0.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/utils/Context.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/wallet/WalletUtil.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/relationship/v1_0/RelationshipTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/utils/TestWallet.java
  sdk/nodejs-sdk/src/index.js
  sdk/nodejs-sdk/src/protocols/v1_0/GoalCodes.js
  sdk/nodejs-sdk/src/protocols/v1_0/Relationship.js
  sdk/nodejs-sdk/test/test_Relationship1_0.js
  sdk/python-sdk/test/protocols/v1_0/test_Relationship.py
  sdk/python-sdk/verity_sdk/protocols/v1_0/OutOfBand.py
  sdk/python-sdk/verity_sdk/protocols/v1_0/Relationship.py
Due: java-publish, python-publish, nodejs-publish

Path conditions:
  buildenv-docker-build: any of: devops/dockerfiles/buildenv.dockerfile
  java-publish: any of: sdk/java-sdk/**/*
  python-publish: any of: sdk/python-sdk/**/*
  nodejs-publish: any of: sdk/nodejs-sdk/**/*
