Repository evernym/verity-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: java-publish, python-publish, nodejs-publish

Path conditions:
  java-publish: any of: sdk/java-sdk/**/*, .gitlab-ci.yml
  python-publish: any of: sdk/python-sdk/**/*, .gitlab-ci.yml
  nodejs-publish: any of: sdk/nodejs-sdk/**/*, .gitlab-ci.yml

fix lint errors
  sdk/nodejs-sdk/src/protocols/v1_0/GoalCodes.js
  sdk/nodejs-sdk/src/protocols/v1_0/Relationship.js
Due: nodejs-publish

move to new base version
  .gitlab-ci.yml
Due: java-publish, python-publish, nodejs-publish

pin to latest released verity-application
  verity/verity.dockerfile
Due: none

pre-load dependencies for java example app
  samples/sdk/Dockerfile
Due: none

Fixed broken link reported by customer.
  docs/getting-started/getting-started.md
Due: none

VE-1919
  docs/howto/How-to-build-Issuer-using-REST-API.md
  samples/rest-api/issuer/Issuer.js
  samples/rest-api/issuer/README.md
  samples/rest-api/issuer/package-lock.json
  samples/rest-api/issuer/package.json
Due: none

remove goal code default code
  sdk/nodejs-sdk/src/protocols/v1_0/Relationship.js
Due: nodejs-publish

Fixed committed answer in the demo web app
  samples/rest-api/web-app/public/index.html
Due: none

Fix checking domain did length bug.
  samples/rest-api/web-app/app.js
Due: none

fix broken links on Github mirror
  docs/getting-started/getting-started.md
  docs/howto/How-to-build-Issuer-using-REST-API.md
  samples/rest-api/issuer/README.md
Due: none

Fixed Unknown credential name on ConnectMe
  samples/rest-api/web-app/public/index.html
Due: none

Sample Verifier app using Verity REST API
  docs/howto/How-to-build-Verifier-using-Java-SDK.md
  docs/howto/How-to-build-Verifier-using-REST-API.md
  samples/rest-api/verifier/README.md
  samples/rest-api/verifier/Verifier.js
  samples/rest-api/verifier/package-lock.json
  samples/rest-api/verifier/package.json
Due: none

Add threadId to write schema protocol
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/writeschema/WriteSchemaImplV0_6.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/CommittedAnswerTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/WriteCredentialDefinitionTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/WriteSchemaTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/connecting/v1_0/ConnectionsTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/outofband/v1_0/OutOfBandTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/presentproof/v1_0/PresentProofTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/relationship/v1_0/RelationshipTest.java
  sdk/nodejs-sdk/src/protocols/v0_6/WriteSchema.js
  sdk/nodejs-sdk/test/test_WriteSchema_0_6.js
  sdk/python-sdk/test/protocols/test_WriteCredentialDefinition.py
  sdk/python-sdk/test/protocols/test_WriteSchema.py
  sdk/python-sdk/verity_sdk/protocols/v0_6/WriteSchema.py
Due: java-publish, python-publish, nodejs-publish

Small fixes
  docs/howto/How to build Verifier using Java SDK.md
  docs/howto/How-to-build-Issuer-using-REST-API.md
  docs/howto/How-to-build-Verifier-using-REST-API.md
  samples/rest-api/issuer/Issuer.js
  samples/rest-api/verifier/Verifier.js
  samples/rest-api/web-app/README-docker.md
  samples/rest-api/web-app/public/index.html
Due: none

Using OoB protocol to identify returning user
  docs/howto/How-to-build-Issuer-using-REST-API.md
  docs/howto/How-to-build-Verifier-using-REST-API.md
  docs/howto/Using-Out-of-Band-to-identify-returning-user.md
  samples/rest-api/out-of-band/OutOfBand.js
  samples/rest-api/out-of-band/README.md
  samples/rest-api/out-of-band/package-lock.json
  samples/rest-api/out-of-band/package.json
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

upgrade verity to 0.4.100298448.69d2cf3
  verity/configuration/akka.conf
  verity/configuration/application.conf
  verity/configuration/logback.xml
  verity/scripts/entrypoint.sh
  verity/verity.dockerfile
Due: none

add migration steps for v0.4.2
  .gitlab-ci.yml
  MigrationGuide.md
Due: java-publish, python-publish, nodejs-publish

Added SMS messages into Relationship protocol
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/relationship/Relationship.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/relationship/RelationshipImplV1_0.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/relationship/v1_0/RelationshipV1_0.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/relationship/v1_0/RelationshipTest.java
  sdk/nodejs-sdk/src/protocols/v1_0/Relationship.js
  sdk/nodejs-sdk/test/test_Relationship1_0.js
  sdk/python-sdk/test/protocols/v1_0/test_Relationship.py
  sdk/python-sdk/verity_sdk/protocols/v1_0/Relationship.py
Due: java-publish, python-publish, nodejs-publish

Added "type" parameter to Predicate constructor function in java-sdk.
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/presentproof/common/Predicate.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/presentproof/v1_0/PresentProofTest.java
Due: java-publish

Added node_modules to .gitignore
  .gitignore
Due: none

Enabling commited answer in the example app
  samples/sdk/java-example-app/src/main/java/com/evernym/sdk/example/App.java
  samples/sdk/java-example-app/src/main/java/com/evernym/sdk/example/Listener.java
  samples/sdk/nodejs-example-app/example.js
  samples/sdk/python-example-app/app.py
Due: none

Clarify phone number format
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/relationship/Relationship.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/relationship/v1_0/RelationshipTest.java
  sdk/nodejs-sdk/src/protocols/v1_0/Relationship.js
  sdk/nodejs-sdk/test/test_Relationship1_0.js
  sdk/python-sdk/test/protocols/v1_0/test_Relationship.py
  sdk/python-sdk/verity_sdk/protocols/v1_0/Relationship.py
Due: java-publish, python-publish, nodejs-publish

Demo web app demonstrating SSI-based authentication
  samples/rest-api/ssi-auth/Dockerfile
  samples/rest-api/ssi-auth/README.md
  samples/rest-api/ssi-auth/app.js
  samples/rest-api/ssi-auth/docker_entrypoint.sh
  samples/rest-api/ssi-auth/package-lock.json
  samples/rest-api/ssi-auth/package.json
  samples/rest-api/ssi-auth/public/2fa.html
  samples/rest-api/ssi-auth/public/index.html
  samples/rest-api/ssi-auth/public/oob.html
  samples/rest-api/ssi-auth/public/style.css
  samples/rest-api/ssi-auth/views/accountPage.pug
Due: none

Fixed no-label behaviour in relationship create
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/relationship/Relationship.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/relationship/RelationshipImplV1_0.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/relationship/v1_0/RelationshipTest.java
  sdk/nodejs-sdk/src/protocols/v1_0/Relationship.js
  sdk/python-sdk/test/protocols/v1_0/test_Relationship.py
  sdk/python-sdk/verity_sdk/protocols/v1_0/Relationship.py
Due: java-publish, python-publish, nodejs-publish

VE-1968-sdk
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/wallet/WalletUtil.java
  sdk/nodejs-sdk/src/utils/Context.js
  sdk/nodejs-sdk/src/utils/indy.js
  sdk/nodejs-sdk/test/test_Context.js
  sdk/nodejs-sdk/test/test_utils.js
  sdk/python-sdk/test/test_utils.py
  sdk/python-sdk/verity_sdk/utils/Context.py
  sdk/python-sdk/verity_sdk/utils/Wallet.py
Due: java-publish, python-publish, nodejs-publish

Allow to specify custome wallet path in public Context constructors
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/utils/ContextBuilder.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/wallet/WalletUtil.java
  sdk/nodejs-sdk/src/utils/Context.js
  sdk/nodejs-sdk/test/test_Context.js
  sdk/nodejs-sdk/test/test_utils.js
  sdk/python-sdk/verity_sdk/utils/Context.py
Due: java-publish, python-publish, nodejs-publish

Rest samples update
  samples/rest-api/issuer/Issuer.js
  samples/rest-api/out-of-band/OutOfBand.js
  samples/rest-api/ssi-auth/README.md
  samples/rest-api/ssi-auth/app.js
  samples/rest-api/ssi-auth/public/2fa.html
  samples/rest-api/ssi-auth/public/index.html
  samples/rest-api/web-app/.env
  samples/rest-api/web-app/README-docker.md
  samples/rest-api/web-app/README.md
  samples/rest-api/web-app/public/index.html
Due: none

Update CHANGELOG.md with releases 2.4.0 and 2.5.0
  CHANGELOG.md
Due: none

Update KnownIssues.md with Verity Release 2.5.0
  KnownIssues.md
Due: none

Added acceptProposal method to PresentProof protocol
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/presentproof/PresentProofImplV1_0.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/presentproof/v1_0/PresentProofV1_0.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/presentproof/v1_0/PresentProofTest.java
  sdk/nodejs-sdk/src/protocols/v1_0/PresentProof.js
  sdk/nodejs-sdk/test/test_PresentProof_1_0.js
  sdk/python-sdk/test/protocols/test_PresentProof.py
  sdk/python-sdk/verity_sdk/protocols/v1_0/PresentProof.py
Due: java-publish, python-publish, nodejs-publish

Added stub support for propose message
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/presentproof/PresentProof.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/presentproof/PresentProofImplV1_0.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/presentproof/common/ProposedAttribute.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/presentproof/common/ProposedPredicate.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/presentproof/v1_0/PresentProofV1_0.java
Due: java-publish

Improved getting-started instructions
  docs/getting-started/getting-started.md
  docs/getting-started/java-verity-flow.md
  docs/getting-started/nodejs-verity-flow.md
  docs/getting-started/python-verity-flow.md
Due: none

Added info about Evernym BSL license to the local Verity container
  verity/README.md
  verity/scripts/entrypoint.sh
Due: none

Improve documentation related to threadId, thid, pthid and @id
  docs/howto/Protocol-and-Message-Identification-in-Verity.md
Due: none

Update verity.dockerfile
  verity/verity.dockerfile
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: java-publish, python-publish, nodejs-publish

Sample app patches
  samples/sdk/java-example-app/pom.xml
  samples/sdk/java-example-app/src/main/java/com/evernym/sdk/example/App.java
  samples/sdk/nodejs-example-app/example.js
  samples/sdk/nodejs-example-app/package-lock.json
  samples/sdk/nodejs-example-app/package.json
  samples/sdk/python-example-app/app.py
  samples/sdk/python-example-app/helper.py
  samples/sdk/python-example-app/requirements.txt
Due: none
