Repository evernym/verity-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: buildenv-docker-build, java-publish, python-publish, nodejs-publish

Path conditions:
  buildenv-docker-build: any of: devops/dockerfiles/buildenv.dockerfile
  java-publish: any of: sdk/java-sdk/**/*
  python-publish: any of: sdk/python-sdk/**/*
  nodejs-publish: any of: sdk/nodejs-sdk/**/*

fix publish issue with python
  .gitlab-ci.yml
  sdk/java-sdk/.mvn/maven.config
  sdk/python-sdk/Makefile
  sdk/python-sdk/verity_sdk/print_version.py
  sdk/python-sdk/verity_sdk/version.py
Due: java-publish, python-publish

fix for python upload
  .gitlab-ci.yml
  sdk/python-sdk/Makefile
Due: python-publish

Update sdk/python-sdk/Makefile
  sdk/python-sdk/Makefile
Due: python-publish

Update print_version.py
  sdk/python-sdk/verity_sdk/print_version.py
Due: python-publish

fix build issue
  sdk/python-sdk/Makefile
  sdk/python-sdk/verity_sdk/print_version.py
Due: python-publish

Repositioned web app and added inline documention
  samples/rest-api/web-app/.env
  samples/rest-api/web-app/Dockerfile
  samples/rest-api/web-app/README-docker.md
  samples/rest-api/web-app/README.md
  samples/rest-api/web-app/app.js
  samples/rest-api/web-app/docker_entrypoint.sh
  samples/rest-api/web-app/package-lock.json
  samples/rest-api/web-app/package.json
  samples/rest-api/web-app/public/index.html
Due: none

fix java example app dependency
  .gitlab-ci.yml
  sdk/java-sdk/example/pom.xml
  sdk/python-sdk/verity_sdk/print_version.py
Due: java-publish, python-publish

fix Dockerfile
  docs/getting-started/Dockerfile
Due: none

java docs copied over to node docs
  sdk/nodejs-sdk/src/protocols/v0_6/IssuerSetup.js
  sdk/nodejs-sdk/src/protocols/v0_6/UpdateConfigs.js
  sdk/nodejs-sdk/src/protocols/v0_6/UpdateEndpoint.js
  sdk/nodejs-sdk/src/protocols/v0_6/WriteCredentialDefinition.js
  sdk/nodejs-sdk/src/protocols/v0_6/WriteSchema.js
  sdk/nodejs-sdk/src/protocols/v0_7/Provision.js
  sdk/nodejs-sdk/src/protocols/v1_0/CommittedAnswer.js
  sdk/nodejs-sdk/src/protocols/v1_0/Connecting.js
  sdk/nodejs-sdk/src/protocols/v1_0/IssueCredential.js
  sdk/nodejs-sdk/src/protocols/v1_0/PresentProof.js
  sdk/nodejs-sdk/src/protocols/v1_0/Relationship.js
Due: nodejs-publish

Add api doc to python
  sdk/python-sdk/Makefile
  sdk/python-sdk/test/protocols/v0_7/test_Provision.py
  sdk/python-sdk/test/protocols/v1_0/test_IssueCredential.py
  sdk/python-sdk/test/test_utils.py
  sdk/python-sdk/verity_sdk/__init__.py
  sdk/python-sdk/verity_sdk/handlers.py
  sdk/python-sdk/verity_sdk/protocols/Protocol.py
  sdk/python-sdk/verity_sdk/protocols/QuestionAnswer.py
  sdk/python-sdk/verity_sdk/protocols/__init__.py
  sdk/python-sdk/verity_sdk/protocols/v0_6/IssuerSetup.py
  sdk/python-sdk/verity_sdk/protocols/v0_6/UpdateConfigs.py
  sdk/python-sdk/verity_sdk/protocols/v0_6/UpdateEndpoint.py
  sdk/python-sdk/verity_sdk/protocols/v0_6/WriteCredentialDefinition.py
  sdk/python-sdk/verity_sdk/protocols/v0_6/WriteSchema.py
  sdk/python-sdk/verity_sdk/protocols/v0_6/__init__.py
  sdk/python-sdk/verity_sdk/protocols/v0_7/Provision.py
  sdk/python-sdk/verity_sdk/protocols/v0_7/__init__.py
  sdk/python-sdk/verity_sdk/protocols/v1_0/CommittedAnswer.py
  sdk/python-sdk/verity_sdk/protocols/v1_0/Connecting.py
  sdk/python-sdk/verity_sdk/protocols/v1_0/IssueCredential.py
  sdk/python-sdk/verity_sdk/protocols/v1_0/OutOfBand.py
  sdk/python-sdk/verity_sdk/protocols/v1_0/PresentProof.py
  sdk/python-sdk/verity_sdk/protocols/v1_0/Relationship.py
  sdk/python-sdk/verity_sdk/protocols/v1_0/__init__.py
  sdk/python-sdk/verity_sdk/transports.py
  sdk/python-sdk/verity_sdk/utils/Context.py
  sdk/python-sdk/verity_sdk/utils/Did.py
  sdk/python-sdk/verity_sdk/utils/Exeptions.py
  sdk/python-sdk/verity_sdk/utils/MessageFamily.py
  sdk/python-sdk/verity_sdk/utils/Verity.py
  sdk/python-sdk/verity_sdk/utils/Wallet.py
  sdk/python-sdk/verity_sdk/utils/__init__.py
  sdk/python-sdk/verity_sdk/version.py
  sdk/python-sdk/verity_sdk/wallet.py
Due: python-publish

fixes to java api doc
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/Protocol.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/connecting/Connecting.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/issuecredential/IssueCredential.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/issuersetup/IssuerSetup.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/outofband/OutOfBand.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/outofband/OutOfBandImplV1_0.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/outofband/v1_0/OutOfBandV1_0.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/presentproof/PresentProof.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/provision/v0_7/ProvisionV0_7.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/questionanswer/CommittedAnswer.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/questionanswer/QuestionAnswer.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/relationship/Relationship.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/relationship/v1_0/GoalCode.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/relationship/v1_0/RelationshipV1_0.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/utils/Util.java
Due: java-publish

fix build image
  .gitlab-ci.yml
  sdk/python-sdk/test/protocols/v0_7/test_Provision.py
Due: python-publish

documents protocols in node wrapper
  sdk/nodejs-sdk/src/protocols/Protocol.js
  sdk/nodejs-sdk/src/protocols/v0_6/IssuerSetup.js
  sdk/nodejs-sdk/src/protocols/v0_6/UpdateConfigs.js
  sdk/nodejs-sdk/src/protocols/v0_6/UpdateEndpoint.js
  sdk/nodejs-sdk/src/protocols/v0_6/WriteCredentialDefinition.js
  sdk/nodejs-sdk/src/protocols/v0_6/WriteSchema.js
  sdk/nodejs-sdk/src/protocols/v0_7/Provision.js
  sdk/nodejs-sdk/src/protocols/v1_0/CommittedAnswer.js
  sdk/nodejs-sdk/src/protocols/v1_0/Connecting.js
  sdk/nodejs-sdk/src/protocols/v1_0/IssueCredential.js
  sdk/nodejs-sdk/src/protocols/v1_0/OutOfBand.js
  sdk/nodejs-sdk/src/protocols/v1_0/PresentProof.js
  sdk/nodejs-sdk/src/protocols/v1_0/Relationship.js
Due: nodejs-publish

documents the context and handlers in the node wrapper
  sdk/nodejs-sdk/src/protocols/v1_0/OutOfBand.js
  sdk/nodejs-sdk/src/utils/Context.js
  sdk/nodejs-sdk/src/utils/ContextBuilder.js
  sdk/nodejs-sdk/src/utils/Handlers.js
  sdk/nodejs-sdk/src/utils/MessageFamily.js
  sdk/nodejs-sdk/src/utils/index.js
  sdk/nodejs-sdk/src/utils/indy.js
Due: nodejs-publish

includes forRelationship parameter in node Connection protocol
  sdk/nodejs-sdk/example.js
  sdk/nodejs-sdk/src/protocols/v1_0/Connecting.js
  sdk/nodejs-sdk/test/test_utils.js
Due: nodejs-publish

updates node documentation 'Context'
  sdk/nodejs-sdk/src/utils/Context.js
  sdk/nodejs-sdk/src/utils/ContextBuilder.js
  sdk/nodejs-sdk/src/utils/Handlers.js
  sdk/nodejs-sdk/src/utils/WrongSetupError.js
Due: nodejs-publish

fixed lint error in WrongSetupError
  sdk/nodejs-sdk/src/utils/WrongSetupError.js
Due: nodejs-publish

adds evernym logo and prettify markup
  samples/rest-api/web-app/.gitignore
  samples/rest-api/web-app/public/images/logo-evernym.png
  samples/rest-api/web-app/public/index.html
Due: none

replace adding classes to elements by using v-bind:class
  samples/rest-api/web-app/public/index.html
Due: none

Fix for Java example app exiting ungracefully
  sdk/java-sdk/example/pom.xml
  sdk/java-sdk/example/src/main/java/com/evernym/sdk/example/Helper.java
  sdk/java-sdk/example/src/main/java/com/evernym/sdk/example/Listener.java
  sdk/nodejs-sdk/example.js
  sdk/python-sdk/example/app.py
Due: java-publish, python-publish, nodejs-publish

general layout
  samples/rest-api/web-app/public/images/Vector.png
  samples/rest-api/web-app/public/index.html
Due: none

finish configuration tab and splits css
  samples/rest-api/web-app/public/index.html
  samples/rest-api/web-app/public/style.css
Due: none

finish setup issuer section
  samples/rest-api/web-app/public/index.html
  samples/rest-api/web-app/public/style.css
Due: none

updates webhook messages ui
  samples/rest-api/web-app/public/index.html
  samples/rest-api/web-app/public/style.css
Due: none

updates schemas section ui
  samples/rest-api/web-app/public/images/none-yet.png
  samples/rest-api/web-app/public/index.html
  samples/rest-api/web-app/public/style.css
Due: none

updates credential defs ui
  samples/rest-api/web-app/public/index.html
  samples/rest-api/web-app/public/style.css
Due: none

updates connections ui
  samples/rest-api/web-app/public/index.html
Due: none

changing to production version of VUE
  samples/rest-api/web-app/public/index.html
Due: none

Added Protocol interface and renamed old abstract class Protocol to AbstractProtocol. All protocol interfaces should extend Protocol rather than MessageFamily.
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/AbstractProtocol.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/Protocol.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/connecting/ConnectionsImplV1_0.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/connecting/v1_0/ConnectionsV1_0.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/issuecredential/IssueCredentialImplV1_0.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/issuecredential/v1_0/IssueCredentialV1_0.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/issuersetup/IssuerSetupImplV0_6.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/issuersetup/v0_6/IssuerSetupV0_6.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/outofband/OutOfBandImplV1_0.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/outofband/v1_0/OutOfBandV1_0.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/presentproof/PresentProofImplV1_0.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/presentproof/v1_0/PresentProofV1_0.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/provision/ProvisionImplV0_7.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/provision/v0_7/ProvisionV0_7.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/questionanswer/AskCommonImpl.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/questionanswer/v1_0/CommittedAnswerV1_0.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/questionanswer/v1_0/QuestionAnswerV1_0.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/relationship/RelationshipImplV1_0.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/relationship/v1_0/RelationshipV1_0.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/updateconfigs/UpdateConfigsImplV0_6.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/updateconfigs/v0_6/UpdateConfigsV0_6.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/updateendpoint/UpdateEndpointImplV0_6.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/updateendpoint/v0_6/UpdateEndpointV0_6.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/writecreddef/WriteCredentialDefinitionImplV0_6.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/writecreddef/v0_6/WriteCredentialDefinitionV0_6.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/writeschema/WriteSchemaImplV0_6.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/writeschema/v0_6/WriteSchemaV0_6.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/AbstractProtocolTest.java
Due: java-publish

Add tests for getThreadId
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/CommittedAnswerTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/IssuerSetupTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/UpdateConfigsTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/UpdateEndpointTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/WriteCredentialDefinitionTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/WriteSchemaTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/connecting/v1_0/ConnectionsTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/issue_cred/v1_0/IssueCredentialTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/outofband/v1_0/OutOfBandTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/presentproof/v1_0/PresentProofTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/provision/ProvisionTestV0_7.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/relationship/v1_0/RelationshipTest.java
Due: java-publish

Updat getting-started.md with intro
  docs/getting-started/getting-started.md
Due: none

Update CHANGELOG.md w Release Notes for v2.1
  CHANGELOG.md
Due: none

Update KnownIssues.md w v2.1
  KnownIssues.md
Due: none

pin to RC for verity and release doc uncommented
  .gitlab-ci.yml
  verity/verity.dockerfile
Due: none

updates 'issue credential' UI
  samples/rest-api/web-app/public/images/expand.svg
  samples/rest-api/web-app/public/index.html
  samples/rest-api/web-app/public/style.css
Due: none

updates request proofs and comitted answer UI
  samples/rest-api/web-app/public/index.html
Due: none

Updates Custom Request UI
  samples/rest-api/web-app/public/index.html
  samples/rest-api/web-app/public/style.css
Due: none

removed micro tag from release jobs
  .gitlab-ci.yml
Due: none

remove before_script from release jobs
  .gitlab-ci.yml
Due: none

add 'doc' to path of api documentation files
  .gitlab-ci.yml
Due: none
