Repository evernym/verity-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: buildenv-docker-build, verity-server-docker-build, autorespond-docker-build, verity-server-image-docker-build, upload_to_maven

Path conditions:
  buildenv-docker-build: any of: devops/dockerfiles/buildenv.dockerfile
  verity-server-docker-build: any of: server/devops/dev/verity-server.dockerfile
  autorespond-docker-build: any of: devops/dockerfiles/buildenv.dockerfile, devops/dockerfiles/auto-respond-client.dockerfile
  verity-server-image-docker-build: any of: server/*, server/devops/dev/verity-server.dockerfile, server/devops/dev/verity-server-image.dockerfile
  upload_to_maven: any of: sdk/java-sdk/*

Add ~thread block to QuestionAnswer msg in python-sdk
  sdk/python-sdk/test/protocols/test_QuestionAnswer.py
  sdk/python-sdk/verity_sdk/protocols/QuestionAnswer.py
Due: none

add signature_required to ask-question
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/QuestionAnswer.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/QuestionAnswerTest.java
Due: none

Modified IssueCredential messages
  sdk/java-sdk/pom.xml
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/IssueCredential.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/IssueCredentialTest.java
  sdk/python-sdk/test/protocols/test_IssueCredential.py
  sdk/python-sdk/verity_sdk/protocols/IssueCredential.py
Due: upload_to_maven

Modified PresentProof and IssueCredential messages Modified QuestionAnswer python sdk messages Bumped versions of python and java sdk
  sdk/java-sdk/pom.xml
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/IssueCredential.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/PresentProof.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/IssueCredentialTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/PresentProofTest.java
  sdk/python-sdk/setup.py
  sdk/python-sdk/test/protocols/test_IssueCredential.py
  sdk/python-sdk/test/protocols/test_PresentProof.py
  sdk/python-sdk/test/protocols/test_QuestionAnswer.py
  sdk/python-sdk/verity_sdk/protocols/IssueCredential.py
  sdk/python-sdk/verity_sdk/protocols/PresentProof.py
  sdk/python-sdk/verity_sdk/protocols/QuestionAnswer.py
Due: upload_to_maven

move to docker-machine pipeline runners
  .gitlab-ci.yml
Due: none

make master branch build latest docker image, and subsequent images use the correct branch source
  .gitlab-ci.yml
Due: none

Rename usePublicDid to includePublicDID in Connecting protocol
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/Connecting.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/ConnectingTest.java
  sdk/python-sdk/test/protocols/test_Connecting.py
  sdk/python-sdk/verity_sdk/protocols/Connecting.py
Due: none

Fix protocol versions
  sdk/python-sdk/test/protocols/test_WriteCredentialDefinition.py
  sdk/python-sdk/test/protocols/test_WriteSchema.py
  sdk/python-sdk/verity_sdk/protocols/IssueCredential.py
  sdk/python-sdk/verity_sdk/protocols/PresentProof.py
  sdk/python-sdk/verity_sdk/protocols/WriteCredentialDefinition.py
  sdk/python-sdk/verity_sdk/protocols/WriteSchema.py
Due: none

Bumped the versions of sdk
  sdk/java-sdk/pom.xml
  sdk/python-sdk/setup.py
Due: upload_to_maven

Add support for get status in QuestionAnswer protocol
  sdk/java-sdk/pom.xml
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/QuestionAnswer.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/QuestionAnswerTest.java
  sdk/python-sdk/setup.py
  sdk/python-sdk/test/protocols/test_QuestionAnswer.py
  sdk/python-sdk/verity_sdk/protocols/QuestionAnswer.py
Due: upload_to_maven

Added status message for Connecting protocol
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/Connecting.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/ConnectingTest.java
  sdk/python-sdk/test/protocols/test_Connecting.py
  sdk/python-sdk/verity_sdk/protocols/Connecting.py
Due: none

Bumped versions
  sdk/java-sdk/pom.xml
  sdk/python-sdk/setup.py
Due: upload_to_maven

Fix newline missing
  sdk/python-sdk/test/protocols/test_Connecting.py
Due: none

Fixed Connecting protocol in python-sdk
  sdk/python-sdk/verity_sdk/protocols/Connecting.py
Due: none

Fixed warning for tests not awaited.
  sdk/python-sdk/test/protocols/test_PresentProof.py
  sdk/python-sdk/test/protocols/test_QuestionAnswer.py
Due: none

Added IssuerSetup protocol to python-sdk
  sdk/python-sdk/test/protocols/test_IssuerSetup.py
  sdk/python-sdk/verity_sdk/protocols/IssuerSetup.py
Due: none

add message qualifiers (evernym and community) add CommittedAnswer
  sdk/java-sdk/pom.xml
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/CommittedAnswer.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/Connecting.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/IssueCredential.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/IssuerSetup.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/PresentProof.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/Provision.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/UpdateEndpoint.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/WriteCredentialDefinition.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/WriteSchema.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/utils/Util.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/CommittedAnswerTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/ConnectingTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/IssueCredentialTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/IssuerSetupTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/PresentProofTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/UpdateEndpointTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/WriteCredentialDefinitionTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/WriteSchemaTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/utils/UtilTest.java
Due: upload_to_maven

remove duplict code
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/CommittedAnswer.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/QuestionAnswer.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/CommittedAnswerTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/QuestionAnswerTest.java
Due: none

Issuer setup fixes
  sdk/python-sdk/test/protocols/test_IssuerSetup.py
  sdk/python-sdk/verity_sdk/protocols/IssuerSetup.py
Due: none

Provision message support added. Added new attributes to Context. Added requirement for pytest-mock. Increased maximum number of attributes for a class (linter)
  sdk/python-sdk/.pylintrc
  sdk/python-sdk/requirements.txt
  sdk/python-sdk/test/protocols/test_Provision.py
  sdk/python-sdk/test/test_utils.py
  sdk/python-sdk/verity_sdk/protocols/Provision.py
  sdk/python-sdk/verity_sdk/transports.py
  sdk/python-sdk/verity_sdk/utils/Context.py
  sdk/python-sdk/verity_sdk/utils/__init__.py
Due: none

Added CommittedAnswer protocol support.
  sdk/python-sdk/test/protocols/test_CommitedAnswer.py
  sdk/python-sdk/verity_sdk/protocols/CommittedAnswer.py
Due: none

python sdk version bump
  sdk/python-sdk/setup.py
Due: none

Remove unused import
  sdk/python-sdk/verity_sdk/protocols/CommittedAnswer.py
  sdk/python-sdk/verity_sdk/protocols/QuestionAnswer.py
Due: none

Added python dependency pytest-mock==1.11.2 to docker
  devops/dockerfiles/buildenv.dockerfile
Due: buildenv-docker-build, autorespond-docker-build

Add sourceId to the get-status message of Connecting protocol
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/Connecting.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/ConnectingTest.java
  sdk/python-sdk/test/protocols/test_Connecting.py
  sdk/python-sdk/verity_sdk/protocols/Connecting.py
Due: none

Bump the versions
  sdk/java-sdk/pom.xml
  sdk/python-sdk/setup.py
Due: upload_to_maven

Fix docker file
  devops/dockerfiles/buildenv.dockerfile
Due: buildenv-docker-build, autorespond-docker-build

initial commit of the nodejs-sdk
  sdk/nodejs-sdk/.gitignore
  sdk/nodejs-sdk/package-lock.json
  sdk/nodejs-sdk/package.json
  sdk/nodejs-sdk/src/Context.js
  sdk/nodejs-sdk/src/index.js
  sdk/nodejs-sdk/test/test_Context.js
Due: none

add, test indy and Context modules
  sdk/nodejs-sdk/example.js
  sdk/nodejs-sdk/package-lock.json
  sdk/nodejs-sdk/package.json
  sdk/nodejs-sdk/src/Context.js
  sdk/nodejs-sdk/src/indy.js
  sdk/nodejs-sdk/src/protocols/Protocol.js
  sdk/nodejs-sdk/src/utils.js
  sdk/nodejs-sdk/test/test_Context.js
  sdk/nodejs-sdk/test/test_utils.js
Due: none

pack and unpack working
  sdk/nodejs-sdk/example.js
  sdk/nodejs-sdk/src/Context.js
  sdk/nodejs-sdk/src/index.js
  sdk/nodejs-sdk/src/indy.js
  sdk/nodejs-sdk/src/protocols/Protocol.js
  sdk/nodejs-sdk/src/utils.js
  sdk/nodejs-sdk/test/test_Context.js
  sdk/nodejs-sdk/test/test_utils.js
Due: none

base Protocol class and some work on Provision protocol
  sdk/nodejs-sdk/example.js
  sdk/nodejs-sdk/package-lock.json
  sdk/nodejs-sdk/package.json
  sdk/nodejs-sdk/src/Context.js
  sdk/nodejs-sdk/src/index.js
  sdk/nodejs-sdk/src/protocols/Protocol.js
  sdk/nodejs-sdk/src/protocols/Provision.js
  sdk/nodejs-sdk/src/utils.js
  sdk/nodejs-sdk/src/utils/Context.js
  sdk/nodejs-sdk/src/utils/ContextBuilder.js
  sdk/nodejs-sdk/src/utils/MessageFamily.js
  sdk/nodejs-sdk/src/utils/index.js
  sdk/nodejs-sdk/src/utils/indy.js
  sdk/nodejs-sdk/test-cli.js
  sdk/nodejs-sdk/test/test_Context.js
  sdk/nodejs-sdk/test/test_Protocol.js
  sdk/nodejs-sdk/test/test_utils.js
Due: none

refactoring and fixing tests
  sdk/nodejs-sdk/src/protocols/Provision.js
  sdk/nodejs-sdk/src/utils/Context.js
  sdk/nodejs-sdk/src/utils/index.js
  sdk/nodejs-sdk/test-cli.js
  sdk/nodejs-sdk/test/test_Context.js
  sdk/nodejs-sdk/test/test_utils.js
Due: none

fix failing pack/unpack test for forward messages
  sdk/nodejs-sdk/test/test_utils.js
Due: none

first step of provision is authcryped
  sdk/nodejs-sdk/src/protocols/Provision.js
  sdk/nodejs-sdk/src/utils/index.js
Due: none

initial packing working with Verity
  sdk/nodejs-sdk/src/protocols/Provision.js
  sdk/nodejs-sdk/src/utils/index.js
Due: none

Provision protocol working
  sdk/nodejs-sdk/src/protocols/Provision.js
  sdk/nodejs-sdk/test-cli.js
Due: none

cleaned up Provision protocol and initial UpdateEndpoint protocol
  sdk/nodejs-sdk/src/index.js
  sdk/nodejs-sdk/src/protocols/Provision.js
  sdk/nodejs-sdk/src/protocols/UpdateEndpoint.js
  sdk/nodejs-sdk/src/utils/Context.js
  sdk/nodejs-sdk/src/utils/ContextBuilder.js
  sdk/nodejs-sdk/src/utils/MessageFamily.js
  sdk/nodejs-sdk/src/utils/indy.js
  sdk/nodejs-sdk/test-cli.js
Due: none
